/* Reset de margens e paddings para garantir consistência em diferentes browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
html, body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  min-height: 100vh;
}

/* Estilos de links */
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para o cabeçalho */
header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
